.header {
    height           : 60px;
    width            : 100%;
    background-color : #FFFFFF;
    text-align       : center;
    position         : fixed;
    box-shadow       : 0 2px 4px rgba(0, 0, 0, 0.25);
    z-index          : 3;

    h1 {
        display         : flex;
        justify-content : center;
        align-content   : center;
        flex-direction  : column;
        height          : 60px;
        font-size       : 16px;
    }

    button{
        top: 10px;
        position: fixed;
        right: 10px;
    }
}
