table {
    width : 100%;
}

.mat-header-row {
    background-color : #E1E2E1;
    height           : 32px;
}

.mat-table {
    border-radius    : 3px;
    background-color : var(--light-grey);
    border           : 1px solid #D4DBDA;
}

.mat-row {
    height : 32px;
}

